*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'raleway', sans-serif;
}

header{
    width: 100%;
    height: 1000px;
    background: url('https://visualcocaine.org/public/uploads/large/61560495595h8wjekoxhci9hbpkz5b4bx19bjurowskqswim54rj9gwj6fyxi5ed3obribsxawvn36lrt82x7nqrdcsgrstd1qbyhvncelbstsf.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textos{
    padding: 300px;
    color: #f2f2f2;
    text-align: center;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

a{
    text-decoration:  none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    width: 170px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    transition: .5s ease all;
}


a:hover{
    background: #fff;
    color: black;
}

.modal{
    display: none;
    position: fixed;
    z-index:1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
    
}

.contenido-modal{
    position: relative;
    background-color: white;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .4);
    border-radius: 15px;
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal{
    from{top:-330px ; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    color: #8f8d8d;
    font-size: 30px;
    font-weight: bold;

}

.close:hover{
    color:#424242;
    text-decoration: none;
    cursor: pointer;
    
}

.modal-header{
    padding: 8px 30px;
    
    background: #335d88;
    color: #f2f2f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 .footer{
    padding: 8px 0;
    text-align: center;
    background: #335d88;
    color: #f2f2f2;
    font-size: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

p{
    text-align: justify;
}

.modal-body{
    padding: 20px 16px;
}